#button {
	-fx-background-radius: 30, 30, 30, 30;
		-fx-background-color: linear-gradient(Gold, GoldenRod);
}

#background {
	-fx-background-image: url("background.jpeg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}